{* Latte template *}

{block content}

<div class="container">
        <div class="text-center">
            <h1 n:block="title" class="display-4">Upravit příspěvek</h1>
        </div>

<a n:href="Homepage:default">← zpět na výpis</a>

{control createPlan}

 </div>